# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
*.pem

# IDEs
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Convex
.convex
convex/_generated
.env.local
.env.*.local

# Vault specific
Docs/notes/*.pdf
